@import './styles/tokens.css';

:root {
  --font-color-ondark-test: #fff;
  --font-color-onlight-test: #1f2328;
  --color-test: deeppink;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */

.test-outline {
  outline: 3px solid deeppink;
}

.test-wrapper {
  outline: 3px solid var(--color-test);
  color: var(--color-test);
}
